@import "tailwindcss";

@keyframes pingOnce {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.12);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}

.animate-pingOnce {
  animation: pingOnce 0.6s ease-out 1;
}
